code[class*="language-"] {
	display: block;
    padding: 1em;
	background: none;
	font-family: Monaco, monospace;
	font-size: 0.85em;
	border-radius: 5px;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	counter-reset: div;
}

@media print {
	code[class*="language-"] {
		text-shadow: none;
	}
}

.code-lines {
	padding-left: 2em;
	margin-left: 2em;
}

.code-lines .line {
    white-space: pre-wrap;
    text-indent: -1em;
}

.code-lines .line:before {
    content: counter(div);
    counter-increment: div;
    -webkit-user-select: none;
	margin-left: -2.5em;
    margin-right: 2em;
}

.code-lines .line:nth-child(n+10):before {
	margin-left: -3.1em;
}